.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .info {
    color: var(--color-primary);
    font-weight: 500;

    .title {
      font-size: 36px;
      line-height: 51px;
    }
    .location {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 20px;
    }
    .tags {
      display: flex;
      gap: 5px;
    }
  }
}
