.home-page__card-list {
  --gap: 60px;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--gap);
  place-items: center;
  background: var(--color-grey-light);
  padding: var(--gap);
  margin-top: 40px;
  border-radius: var(--border-radius-big);
}
