.host {
  display: flex;
  text-align: right;
  align-items: center;
  gap: calc(var(--gutter) / 2);
  color: var(--color-primary);
}
.host__name span {
  display: block;
}
.host__image img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
