.title {
  color: var(--color-primary);
  font-weight: 500;
}
.title__title {
  font-size: 1.125rem;
}
.title__location {
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .title__title {
    font-size: 2rem;
  }
  .title__location {
    font-size: 1rem;
  }
}